<div id="page-title">
    <h1>{{ pageName }}</h1>
</div>
<div id="toolbar-icons">
    <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" (menuOpened)="marcarComoVisualizadas()" (menuClosed)="menuNotificacoesClosed()">
        <mat-icon [matBadge]="numeroDeNotificacoes" matBadgeColor="warn" matBadgePosition="below" [matBadgeHidden]="numeroDeNotificacoes == 0">notifications</mat-icon>
    </button>
    <mat-menu #notificationsMenu="matMenu">
        <button *ngFor="let notification of notifications" class="btn-notificacao" mat-menu-item [routerLink]="notification.path"
        [ngClass]="{'notificacao-visualizada': notification.status == NOTIFICACAO_VISUALIZADA}">
            <span>{{notification.descricao}}</span>
        </button>
    </mat-menu>
    
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <p *ngIf="(user$ | async) as user" id="user-name-item" mat-menu-item>{{ user.nome }}</p>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>
</div>