mat-card {
    width: fit-content;
    min-width: 80%;
    margin: 10px auto;
}

#filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#btn-filter {
    margin-top: 5px;
}