<mat-nav-list id="menu-list" [class.removePadding]="!isExpanded">
    <div>
        <mat-list-item id="menu-list-title" [matTooltip]="isExpanded ? '' : 'Controle de Pagamentos'" routerLink="/">
            <img matListItemIcon src="/assets/images/forma-de-pagamento.png" />
            <a matListItemTitle *ngIf="isExpanded">Controle de Pagamentos</a>
        </mat-list-item>
        <mat-list-item *ngFor="let item of itensMenu" [matTooltip]="isExpanded ? '' : item.text" [routerLink]="item.routerLink" >
            <mat-icon class="menu-icon" matListItemIcon>{{ item.icon }}</mat-icon>
            <a matListItemTitle *ngIf="isExpanded">{{ item.text }}</a>
        </mat-list-item>
    </div>
    <div>
        <mat-list-item id="menu-list-toggle" (click)="isExpanded = !isExpanded">
            <mat-icon>{{ isExpanded ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right' }}</mat-icon>
        </mat-list-item>
    </div>
</mat-nav-list>