  .actions-container {
    display: flex;
    justify-content: center;
  }

  mat-card-actions {
    display:flex;
    gap:5px;
  }

  button {
    width: 100%;
  }
  mat-card-header {
    margin-bottom: 10px;
  }