#messages-card {
    color: white;
    z-index: 9998;
}

#messages-card mat-card-content {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.error {
    background-color: rgba(255, 0, 0, 0.9);
}

.warning {
    background-color: rgba(240, 190, 0, 0.9);
}

.success {
    background-color: rgba(0, 160, 21, 0.9);
}