<h1 mat-dialog-title>Atualizar parametro</h1>
<mat-dialog-content>
    <form #form [formGroup]="formGroup" (ngSubmit)="submit()">
        <div class="row">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <textarea matInput type="text" formControlName="nome" maxlength="255" rows="2" required></textarea>
                <mat-error>
                    Por favor insira um nome válido
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Valor</mat-label>
            <textarea matInput type="text" formControlName="valor" maxlength="255" rows="2" required></textarea>
            <mat-error>
                Por favor insira um valor válido
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submit()">Salvar</button>
    <button mat-stroked-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>