mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  box-sizing: border-box;
  padding: 0 24px 24px 24px;
}

mat-dialog-actions button {
  margin: 0 !important;
  box-sizing: border-box;
  width: 49%;
}

form {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  width: 500px;
}

mat-form-field {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hora {
  width: 50%;
}
